.clock-wrapper {
  overflow: auto;
  width: 100%
  height: 100%
  background #000
  color #ffffff
  position: relative;
  font-family: monospace, serif;

  .settings-wrapper {
    position: absolute;
    top: 10px
    left: 10px
    .toggle-settings {
      background transparent
      border none
      outline none
      font-size: 20px
      opacity 0.2
      color #fff
      &:hover {
        opacity 1
      }
    }
  }

  .clock-centered {
    width: 100%
    position: absolute;
    top: 50%
    left: 50%
    transform translate(-50%, -50%)
    text-align: center;

    h1 {
      font-size: 10vw
      margin 0
    }
    h2 {
      font-size: 5vw
      margin-top: 5vh
      margin-bottom: 0
    }
  }
}
