html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

html, body {
  height: 100%
  overflow: hidden;
}

.full-height {
  height: 100%
}

.full-vh {
  height: 100vh
}

// Buefy UI
.modal {
  z-index 50
}
